<%= simple_form_for [@cocktail] do |f| %>
<div class="input-group">
<%= f.input :name, placeholder: "name", label: false %>
<span class="input-group-btn"><%= f.button :submit, "Add", class: "btn btn-default" %></span>
</div>
<div>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
</div>
<% end %>
