<% @title = "Welcome to Drinkalicious!"  %>
<% @subtitle = "Your private mixer"  %>
<%= render 'banner' %>

<div class="container">
  <% @cocktails.each do |cocktail|  %>
  <div class="row margin-top">
    <div class="card col-md-8 col-md-offset-2 underlined">
      <%= link_to "", cocktail_path(cocktail), class: "class-link" %>
      <span><%= image_tag cocktail.photo.url(:thumb) %></span>
      <span><%= link_to cocktail.name, cocktail_path(cocktail) %></span>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 text-center">
      <h3>Add a new cocktail:</h3>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-md-6 col-md-offset-3">
      <%= render 'cocktails/form_cocktail' %>
    </div>
  </div>
</div>
